[package]
name = "xtask"
version = "0.1.0"
publish = false
edition.workspace = true
license.workspace = true

[[bin]]
name = "xtask"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
clap.workspace = true
fs-err.workspace = true
jsonschema = { workspace = true }
serde_json.workspace = true

buildfix-types = { path = "../buildfix-types" }

[dev-dependencies]
tempfile.workspace = true
